//*Battle game project 10/17/2022*//

body {
	background-image: url('troll.jpg');
}

h1 {
	font-family: 'Eater', cursive;
	color: white;
	text-align: center;
	font-size: 78px;
	text-shadow: 2px 2px 3px red;
}

div#button {
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	background-color: yellow;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
	padding: 10px 0px;
	transition: all 2s;
}

div#button:hover {
	background-color: red;
	color: yellow;
	font-size: 34px;
	width: 400px;
	cursor: url(fight.png) 12 18, move;
}


